.AppHeader {
  background-color: #f5f5f5;
  height: 150px;
  padding: 20px;
  color: #222222;
}

.AppHeader--link {
  text-decoration: none;
  color: inherit;
}

.AppHeader--logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.AppHeader--title {
  font-size: 1.5em;
}

.AppHeader--add-book-link {
  color: #999999;
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}